@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Fluxisch Else';
    src: url('/fonts/fluxisch-else/FluxischElse-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fluxisch Else';
    src: url('/fonts/fluxisch-else/FluxischElse-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@tailwind utilities;
