@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Fluxisch Else';
    src: url('/fonts/fluxisch-else/FluxischElse-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none; /* Add this */
  }

  @font-face {
    font-family: 'Fluxisch Else';
    src: url('/fonts/fluxisch-else/FluxischElse-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-synthesis: none; /* Add this */
  }
}

body {
  letter-spacing: -0.09px;
}

#header,
#namesGrid {
  -webkit-text-stroke-width: 0.05rem;
  letter-spacing: -0.2px;
}

@tailwind utilities;
@plugin "@tailwindcss/typography";
