@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Fluxisch Else';
    src: local('Fluxisch Else'), local('FluxischElse'),
      url('fluxisch-else/FluxischElse-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fluxisch Else';
    src: local('Fluxisch Else Bold'), local('FluxischElse-Bold'),
      url('fluxisch-else/FluxischElse-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@tailwind utilities;
